body {
    margin: 0;
    padding: 0;
}

h1, p{
    margin: 0;
    padding: 0;
}

h1{
    margin-bottom: .2rem;
}

header {
    width: 100%;
    height: 75px;
    padding: 1rem;
    background-color: lightblue;
}

footer {
    height: 50px;
    width: 100%;
    clear: both;
    background-color:lightblue;
    margin-top: 1rem;
    text-align: center;
    padding: .75rem;
}

.column-1,
.column-2 {
    width: 45.5%;
    margin-left: 3%;
    float: left;
    margin-bottom: 1rem;
}

.column-2 {
    margin-right: 3%;
}