/* CSS for JavaScript Game */
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}



.game--board {
  background-color: lightblue;
  font-family: sans-serif;
  max-width: 400px;
  min-height: 400px;
  position: relative;
  margin: 0 auto;
  padding: 12px;
  border: 2px solid darkblue;
}

.game-over {
  position: absolute;
  left: 12.5%;
  top: 100px;
  width: 75%;
  height: 150px;
  padding: 18px;
  text-align: center;
  background-color: lightgreen;
  border: 2px solid darkgreen;
  box-shadow: 5px 5px 10px black;
  display: none;
}

.game-over>h2 {
  margin-bottom: 12px;
}

.game-over>p {
  font-weight: bold;
  margin-bottom: 12px;
}

.btn {
  text-align: center;
  background-color: rgb(224, 224, 224);
  border: 3px solid rgb(64,64,64);
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.btn:hover,
.btn:active {
  background-color: rgb(240,240,240);
  cursor: pointer;
}

.btn:active {
  position: relative;
  left: 2px;
  top: 2px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.game-over .btn {
  width: 100px;
  height: 40px;
  padding: 8px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
}

.game--title {
  padding: 0;
  margin: 0;
  text-align: center;
}


.player,
.opponent {
  width: 49%;
  padding: 12px;
  text-align: center;
  border: 1px red dotted;
}

.player {
  float: left;
}

.opponent {
  float: right;
}

.game--report {
  width: 100%;
  text-align: center;
  clear: both;
  border: 1px red dotted;
}

.game--moves {
  width: 100%;
  min-height: 45px;
  padding: 12px;
  text-align: center;
  border: 1px red dotted;
}

.game--moves_btn {
  width: 50px;
  height: 50px;
  font-size: 24px;
  margin: 0 6px;
  padding: 9px;
  display: inline-block;
}

.move {
  width: 75px;
  height: 75px;
  margin: 12px auto 0;
  background-color: darkblue;
}

.move>p {
  margin: 0 auto;
  padding-top: 10px;
  font-size: 48px;
  font-weight: bold;
  color: white;
}

.score-box {
  width: 132px;
  height: 40px;
  margin: 0 auto;
  /*border: 1px green dotted;*/
}

.score-box--pt {
  width: 36px;
  height: 36px;
  float: left;
  margin: 0 3px;
  background-color: #ddd;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.67);
  box-shadow: -3px -3px 12px 0px rgba(0,0,0,0.6) inset, 2px 2px 2px -1px rgba(0,0,0,0.5);
}
