/* CSS for Rock Paper Scissors Game */
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.game--board {
  background-color: rgba(224,224,224,1);
  font-family: sans-serif;
  max-width: 400px;
  min-width: 320px;
  min-height: 420px;
  position: relative;
  margin: 0 auto;
  padding: 12px;
  color: rgba(48,48,48,1);
  box-shadow: 10px 10px 12px -4px rgba(0,0,0,0.5);
  border: 4px solid rgba(48,48,48,1);
  border-radius: 5px;
}

.game-over {
  position: absolute;
  left: 10%;
  top: 240px;
  width: 80%;
  height: 135px;
  padding: 12px;
  text-align: center;
  background-color: lightgreen;
  border: 4px solid darkgreen;
  border-radius: 5px;
  box-shadow: 8px 8px 8px -2px rgba(0,0,0,0.5);
  display: none;
}

.game-over>h2 {
  margin-bottom: 8px;
}

.game-over>p {
  font-weight: bold;
  margin-bottom: 8px;
}

.btn {
  text-align: center;
  background-color: rgba(240, 240, 240,1);
  color: rgba(64,64,64,1);
  border: 3px solid rgb(64,64,64);
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.btn:hover,
.btn:active {
  background-color: rgb(255,255,255);
  cursor: pointer;
}

.btn:active {
  position: relative;
  left: 2px;
  top: 2px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.game-over .btn {
  width: 100px;
  height: 40px;
  padding: 8px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
}

.game--title {
  padding: 3px 0;
  margin: 0;
  text-align: center;
}


.player,
.opponent {
  width: 49%;
  padding: 12px;
  margin-bottom: 12px;
  text-align: center;
}

.player {
  float: left;
}

.opponent {
  float: right;
}

.game--report {
  width: 100%;
  text-align: center;
  padding-bottom: 3px;
  clear: both;
}

.game--moves {
  width: 100%;
  min-height: 45px;
  padding: 12px;
  text-align: center;
}

.game--moves_btn {
  width: 50px;
  height: 50px;
  font-size: 24px;
  margin: 0 6px;
  padding: 9px;
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
}

.game--moves_btn:hover,
.game--moves_btn:active {
  background-color: lightsteelblue;
}

.move {
  width: 75px;
  height: 75px;
  margin: 12px auto;
  border: 1px solid rgba(0,0,0,0.6);
  border-radius: 3px;
  box-shadow: -2px -2px 12px 0px rgba(0,0,0,0.6) inset,
              2px 2px 2px -1px rgba(0,0,0,0.5);
}

.player .move {
  background-color: royalblue;
}

.opponent .move {
  background-color: orange;
}

.move>p {
  margin: 0 auto;
  padding-top: 10px;
  font-size: 48px;
  font-weight: bold;
  color: white;
}

.score-box {
  width: 118px;
  height: 40px;
  margin: 0 auto;
}

.score-box--pt {
  width: 32px;
  height: 32px;
  float: left;
  margin: 6px 3px;
  background-color: #ccc;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.67);
  box-shadow: -3px -3px 12px 0px rgba(0,0,0,0.6) inset,
              2px 2px 2px -1px rgba(0,0,0,0.5);
}


@media screen and (max-width: 380px) {
    .game--board>h1 {
      font-size: 24px;
    }

    .game-over>h2 {
      font-size: 19px;
    }

}